@use "typography";

$white: #fff;
$black: #000;
$gray600: #717fa6;
$purple500: #766cf1;
$blue950: #1f2e55;
$blue700: #382ae1;
$blue150: #d6e1ff;
$blue100: #e0e8ff;
$blue50: #f7f9ff;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  .first-bg {
    position: relative;
    background-color: $blue150;
    height: 40vh;
  }
  .second-bg {
    position: relative;
    background-color: $blue100;
    height: 60vh;
  }
  .wave1 {
    position: absolute;
    background-color: $blue150;
    height: 100px;
    top: 35vh;
    z-index: 10;
    width: 40vw;
    border-radius: 50%;
  }
  .wave2 {
    position: absolute;
    background-color: $blue100;
    height: 100px;
    top: 35vh;
    right: 0;
    z-index: 10;
    width: 40vw;
    border-radius: 50%;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 354px;
    height: 386px;
    margin: 48px auto;

    .button:hover {
      background-color: $purple500;
    }
    .cancel:hover {
      color: $blue950;
    }
    .change:hover {
      color: $purple500;
    }
    .plan-card {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: $blue50;
      width: 354px;
      height: 98px;
      .plan-w-img {
        display: flex;
        justify-content: space-between;
        width: 150px;
      }
      .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 45px;
        .annual {
          color: $blue950;
          @extend %text-3;
        }
        .price {
          color: $gray600;
          @extend %text-3-medium;
        }
      }
      .change {
        @extend %text-3-bold;
        color: $blue700;
      }
    }
    .button {
      @extend %text-3;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      text-decoration: none;
      width: 100%;
      height: 50px;
      background-color: $blue700;
      border-radius: 11px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .cancel {
      @extend %text-3;
      text-align: center;
      text-decoration: none;
      color: $gray600;
    }
  }
  .card {
    h1 {
      color: $blue950;
      @extend %text-1;
    }
    p {
      color: $gray600;
      @extend %text-3-medium;
    }
    h1,
    p {
      text-align: center;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    width: 450px;
    height: 697px;
    background-color: $white;
    border-radius: 20px;
    margin: 0 auto;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    img {
      border-radius: 20px 20px 0 0;
    }
  }
}
@media (max-width: 500px) {
  body {
    .card,
    .hero-img {
      width: 375px;
    }
    .card {
      .plan-w-img img {
        width: 48px;
        height: 48px;
      }
    }
  }
}
